.maincont{

    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    
 
  }
  
  .contemoji {
   
    text-align: center;
    padding: 100px 0;
    font-size: 50px;
    height: 100px;
    margin:20px;
    border-radius: 20px;

   
  }
  
  #box1 {
    background:linear-gradient(to right, rgb(3, 3, 44), rgb(185, 59, 80));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    
   
  }
  #box2 {
    background:linear-gradient(to right, rgb(58, 163, 58), rgb(214, 214, 29)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    
    
  }
  #box3 {
    background:linear-gradient(to right, rgb(185, 11, 142), rgb(160, 73, 201));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    
  }
  #box4 {
    background:linear-gradient(to right, rgb(6, 159, 230), rgb(10, 211, 77));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
}
    
  #box5 {
    background:linear-gradient(to right, rgb(58, 163, 58), rgb(214, 214, 29)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    
  }
  #box6 {
    background:linear-gradient(to right, rgb(3, 3, 44), rgb(185, 59, 80));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    
  }
  #box7 {
    background:linear-gradient(to right, rgb(6, 159, 230), rgb(10, 211, 77)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
   
  }
  #box8 {
    background:linear-gradient(to right, rgb(185, 11, 142), rgb(160, 73, 201)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    
  }
  #box9 {
    background:linear-gradient(to right, rgb(58, 163, 58), rgb(214, 214, 29)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    
  }
  #box10 {
    background:linear-gradient(to right, rgb(3, 3, 44), rgb(185, 59, 80));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    
  }
  #box11 {
    background:linear-gradient(to right, rgb(6, 159, 230), rgb(10, 211, 77));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    
  }
  #box12 {
    background:linear-gradient(to right, rgb(185, 11, 142), rgb(160, 73, 201)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    
  }
  #box13 {
    background:linear-gradient(to right, rgb(58, 163, 58), rgb(214, 214, 29));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    
  }
  #box14 {
    background:linear-gradient(to right, rgb(3, 3, 44), rgb(185, 59, 80));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    
  }